<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="exercise">
        <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
        <div>
            <button @click="show = !show">Toggle</button>
            <p v-if="show">You either see me ...</p>
            <p v-else>...or me</p>
            <p v-show="show">You either see me ...</p>
            <p v-show="!show">...or me</p>
        </div>
        <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
        <ul>
            <li v-for="(person, index) in persons">{{ person }} ({{ index }})</li>
        </ul>
        <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
        <ul>
            <li v-for="(value, key) in book">{{ key }}: {{ value }}</li>
        </ul>
        <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
        <ul>
            <li v-for="(value, key) in object">
                <template v-if="key == 'data'">
                    <ul>
                        <li v-for="num in value">{{ num }}</li>
                    </ul>
                </template>
                <p v-else>{{ value }}</p>
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#exercise',
            data: {
                show: true,
                persons: ['Matheus', 'Thais', 'Ana', 'Ismair'],
                book: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'},
                object: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]}
            }
        });
    </script>
</body>
</html>
